@font-face {
    src: url('../fonts/kufam.ttf');
}

@font-face {
    src: url('../fonts/kufam_bold.ttf');
}

@font-face {
    src: url('../fonts/maticos.ttf');
}


@font-face {
    src: url('../fonts/icofont.ttf');
}

@font-face {
    src: url('../fonts/fira.ttf');
}
.root {
    -ld-primary: #5767F1;
    -ld-canvas: #F2F8FF;
    -ld-canvas-dark: #435276;
    -ld-canvas-outline: #E9EDF4;
    -ld-outline : #838DA6;
    -ld-text: #343D5B;
    -ld-text-muted: #AFB8D0;
    -ld-text-on-dark: #F4F8FF;
    -ld-green: #19a5a6;
    -ld-blue: #0284ff;
    -ld-red: #f44a4a;
    -ld-orange: #f97c07;
    -ld-canvas-dark-lighter: #556185;
    
    -fx-background-color: -ld-canvas;

}

.side-menu{
    -fx-background-color: -ld-primary;
    -fx-background-radius: 20;
}

.md-icon{
    -fx-font-family:'Material Icons';
}

.ico-font{
    -fx-font-family:'IcoFont';

}

.side-menu .md-icon{
    -fx-text-fill: -ld-canvas-outline;
    -fx-font-size: 24;
    -fx-cursor: hand;

}

.side-menu .md-icon:hover{
    -fx-text-fill: #FFFFFF;
}

.side-menu .md-icon:pressed{
    -fx-text-fill: -ld-text-muted;
}

.md-icon .tooltip{
    -fx-font-size: 12;
    -fx-background: transparent;
    -fx-font-family: 'Kafum';
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.top-bar{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 6;
    -fx-padding: 12;

}

.top-bar .text-field{
    -fx-background-color: -ld-canvas;
    -fx-prompt-text-fill: -ld-text-muted;
    -fx-text-fill: -ld-text;
}

.circle-button{
    -fx-background-color: -ld-canvas;
    -fx-border-color: -ld-outline;
    -fx-border-width: 2;
    -fx-background-radius: 50%;
    -fx-min-width: 24;
    -fx-min-height: 24;
    -fx-max-width: 24;
    -fx-max-height: 24;
    -fx-border-radius: 50%;
    -fx-font-family:'Material Icons';
    -fx-text-fill: -ld-outline;
    -fx-padding: 0;
    -fx-font-size: 16;
    -fx-cursor: hand;
}

.widget-box{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 8;
    -fx-border-color: -ld-green;
    -fx-border-radius: 8;
    -fx-min-width: 300;
    -fx-min-height: 140;
    -fx-max-width: 300;
    -fx-max-height: 140;
    -fx-padding: 10;

}

.widget-box .md-icon{
    -fx-cursor: hand;
}

.split-pane{
    -fx-background-color: transparent;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: transparent;
 }

.split-pane:vertical > .split-pane-divider {
    -fx-background-color: transparent;
 }

 .tree-host{
     -fx-background-color: #FFFFFF;
     -fx-background-radius: 20;
     -fx-padding: 16;
 }

 .label.title{
     -fx-text-fill: -ld-text;
     -fx-font-size: 14;
     -fx-font-weight: bold;
     -fx-font-family: 'Kufam';
 }

 .tree-view{
     -fx-background-insets: 1;
 }

 .tree-view .tree-cell{
     -fx-text-fill: -ld-primary;
     -fx-padding: 0.75em 0em 0.75em 0em ;
 }

 .tree-view .tree-cell .ico-font{
    -fx-text-fill: -ld-primary;
}
 .tree-view .tree-cell:hover{
    -fx-background-color: -ld-canvas-outline;
    
}

 .tree-view .tree-cell:selected{
    -fx-background-color: -ld-primary;
    -fx-text-fill: -ld-text-on-dark;
}

.tree-view .tree-cell:selected .ico-font{
    -fx-text-fill: -ld-text-on-dark;
}

 .tree-view .tree-cell:sub-tree-item{
     -fx-padding: 0.25em;
 }

.scroll-bar:horizontal, .scroll-bar:vertical{
     -fx-background-color: transparent;
 }



.scroll-bar:vertical *.increment-arrow, .scroll-bar:horizontal *.increment-arrow, .scroll-bar:vertical *.decrement-arrow, .scroll-bar:horizontal *.decrement-arrow{
    -fx-background-color: -ld-primary;
}

.scroll-bar:vertical *.thumb, .scroll-bar:horizontal *.thumb{
    -fx-background-color: rgba(87, 103, 241, 0.3);
}


.scroll-bar:vertical *.thumb:hover, .scroll-bar:horizontal *.thumb:hover{
    -fx-background-color: rgba(87, 103, 241, 0.7);
}

.scroll-bar:vertical *.thumb:pressed, .scroll-bar:horizontal *.thumb:pressed{
    -fx-background-color: -ld-primary;
}


.tab-pane .tab-header-area{
    -fx-padding: 0 10;
    -fx-spacing: 10;
}

.tab-pane .tab-header-area .tab-header-background{
    -fx-opacity: 0;
    
}

.tab-pane{
    -fx-tab-min-width: 120px;
    -fx-tab-min-height: 30px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
    
    
    
}

.tab:selected{
    -fx-background-color: -ld-primary;
    
    
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.tab-label{
    -fx-alignment: CENTER;
    -fx-text-fill: -ld-text;
    -fx-font-size: 14;
    
    
}



.tab:selected .tab-label{
    -fx-text-fill: #FFFFFF;
}


.tab .tab-close-button {
    
    -fx-background-color: white;
}

.tab-pane .tab-content-area{
    -fx-padding: 10;
}

.data-tab{
    -fx-padding: 15;
    -fx-background-color: white;
    -fx-background-radius: 10;
}

.tools-box{
    -fx-padding: 8;
    -fx-background-radius: 8;
    -fx-background-color: -ld-canvas-outline;
}

.table-view{
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: -ld-canvas-dark;
    
}

.table-view .column-header {
    -fx-background-color: transparent;
    
}

.table-view .column-header-background .label{
    -fx-text-fill: white;
}

.notification-pane .notification-bar > .pane{
    -fx-background-color: rgba(255, 255, 255, 0.9);
}

.notification-pane .notification-bar > .pane .close-button>.graphic{
    -fx-background-color: -ld-text;
    -fx-scale-shape: false;
}

.notification-pane .notification-bar > .pane .close-button:hover{
    -fx-background-color: rgba(0, 0, 0, 0.2);
    
}

.notification-bar{
    -fx-padding: 10;
}

.notification-bar > .pane .label{
    -fx-padding: 0 20;
    -fx-text-fill: -ld-text;
}

.notification-bar > .pane .ico-font{
    -fx-font-size: 32;
    -fx-background-color: transparent;
    -fx-border-radius: 50%;
    -fx-border-width: 5;
    -fx-padding: 5;
    -fx-border-color: black;
    


}

.notification-bar > .pane .ico-font.error{
    -fx-text-fill: -ld-red;
    -fx-border-color: -ld-red;
}

.notification-bar > .pane .ico-font.warning{
    -fx-text-fill: -ld-orange;
    -fx-border-color: -ld-orange;
}

.notification-bar > .pane .ico-font.info{
    -fx-text-fill: -ld-blue;
    -fx-border-color: -ld-blue;
}

.notification-bar > .pane .ico-font.success{
    -fx-text-fill: -ld-green;
    -fx-border-color: -ld-green;
}


.app-tools{
    -fx-background-color: -ld-canvas-dark;
    -fx-padding: 10 0;
}




.app-tools .tab{
    -fx-background-insets: 0 1 0 1,0,0;
    -fx-background-color: -ld-outline;
    -fx-background-radius: 0;
    
    
    
}

.app-tools .tab:selected{
    -fx-background-color: -ld-canvas-dark-lighter;
    
    
}



.app-tools .tab-label{
    
    -fx-font-size: 12;
    
    
}


.app-tools .tab-pane .tab-content-area{
    -fx-padding: 0;
}

.app-tools .text-area{
    -fx-background-color: -ld-canvas-dark-lighter;
}

.app-tools .text-area{
    -fx-text-fill: -ld-text-on-dark;
}

.text-field{
    -fx-background-color: white;
    -fx-border-color: -ld-canvas-outline;
    -fx-prompt-text-fill: -ld-text-muted;
    -fx-text-fill: -ld-text;
}

.label.brand{
    -fx-text-fill: -ld-primary;
    -fx-font-size: 48;
    -fx-font-family: 'Kufam';
    -fx-font-weight: bold;
}

.alert{
    -fx-background-color: -ld-canvas-outline;
    -fx-background-radius: 12;
    -fx-border-color: -ld-outline;
    -fx-border-radius: 12;
    -fx-padding: 10;
    -fx-spacing: 10;
    
}


.alert .label{
    -fx-font-size: 14;
    -fx-background-color: transparent;
}

.alert.warning{
    -fx-background-color: derive(-ld-orange, 30%);
    -fx-border-color: derive(-ld-orange, -50%);
    
}

.alert.warning .label.title{
    -fx-text-fill: derive(-ld-orange, -50%);
    -fx-font-size: 18;

}


.alert.info{
    -fx-background-color: derive(-ld-blue, 30%);
    -fx-border-color: derive(-ld-blue, -50%);
    
}

.alert.info .label.title{
    -fx-text-fill: derive(-ld-blue, -50%);
    -fx-font-size: 18;

}

.alert .ico-font{
    -fx-font-size: 36;
    -fx-text-fill: white;
}

.custom-password-field .ico-font{
    
    -fx-text-fill: -ld-primary;
}

.button.success{
    -fx-background-color: -ld-green;
    -fx-background-insets: 0;
    -fx-border-color: derive(-ld-green, -50%);
    -fx-text-fill: white;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
}

.button.success .ico-font{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.button.success:hover{
    -fx-background-color: derive(-ld-green, 10%);
}

.button.success:pressed{
    -fx-background-color: derive(-ld-green, -30%);
}

.button.primary{
    -fx-background-color: -ld-primary;
    -fx-background-insets: 0;
    -fx-border-color: derive(-ld-primary, -50%);
    -fx-text-fill: white;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
}

.button.primary .ico-font{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}



.button.primary:hover{
    -fx-background-color: derive(-ld-primary, 10%);
}

.button.primary:pressed{
    -fx-background-color: derive(-ld-primary, -30%);
}

.titled-pane > .title{
    -fx-background-color: -ld-canvas-dark;
    -fx-background-insets: 0;
}

.titled-pane:focused 
{
    -fx-text-fill: -ld-text-on-dark;
}


.titled-pane 
{
    -fx-text-fill: -ld-text-on-dark;
}

.titled-pane > .title >  .arrow-button {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 4;
}

.titled-pane > .title > .arrow-button .arrow 
{
-fx-background-color: -ld-text-on-dark;
-fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane > *.content 
{
    -fx-background-color: white;
 }

.scroll-pane{
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
}
 .scroll-pane > .viewport{
     -fx-background-color: transparent;
 }

 .form-grid{
    -fx-background-color: -ld-canvas;
 }

 .text-field:readonly{
     -fx-background-color: -ld-canvas-outline;
     -fx-text-fill: -ld-text-muted;
 }

 .text-field.error{
     -fx-border-color: -ld-red;
 }

 .label.error{
     -fx-text-fill: -ld-red;
 }

 .menu-button{
     -fx-background-color: -ld-primary;
     
 }

 .menu-button .ico-font{
     -fx-text-fill: white;
 }

 .menu-button .label{
     -fx-text-fill: white;
 }

 .menu-button .arrow-button .arrow{
     -fx-background-color: white;
 }

 .split-menu-button > .label {
    -fx-background-color: -ld-primary;
    -fx-text-fill: white;
}

.split-menu-button .arrow-button {
    -fx-background-color: -ld-primary;
    }

    .split-menu-button .arrow-button .arrow{
        -fx-background-color: white;
    }
 

 .menu-item{
     -fx-background-color: white;
     -fx-text-fill: -ld-text;
 }

 .menu-item .label{
     -fx-text-fill:-ld-text;
 }
 .menu-item:hover{
     -fx-background-color: -ld-primary;
     
 }

 .menu-item:hover .label{
    
    -fx-text-fill: -ld-text-on-dark;
}

.text-area.code{
    -fx-font-family: 'Fira Code';

}



.code-area{
    -fx-background-color: derive(-ld-canvas-dark, -40%);
    -fx-font-family: 'Fira Code';
    
    
}

.code-area .line-highlighter{
    -fx-fill: derive(-ld-canvas-dark, -50%);

}

.code-area .selection {
    -fx-fill: -ld-canvas-dark;
}

.code-area .paragraph-text{
    -fx-tab-size: 4;
}
.code-area  .text{
    -fx-fill: -ld-text-on-dark;
    -fx-font-family: 'Fira Code';
}



.code-area .caret{
    
    -fx-stroke: -ld-text-on-dark;
}
.code-area .lineno{
    -fx-background-color: -ld-canvas-dark-lighter;
    
    
}


.code-area .text.comment{
    -fx-fill: #2E3B45;
}

.code-area .text.key, .code-area .text.tagmark, .code-area .text.anytag{
    -fx-fill: #0AC9F7;
}

.code-area .text.string, .code-area .text.avalue{
    -fx-fill: #FF9D1A;
}

.code-area .text.number{
    -fx-fill: #eb4174;
}

.code-area .text.boolean, .code-area .text.attribute{
    -fx-fill: #BEFF3C;
}
